<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="jp.flatlib.flatlib3.musicplayerw" >

    <uses-feature android:name="android.hardware.type.watch" />

    <application
	android:allowBackup="true"
        android:icon="@drawable/ic_wearplayer"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.DeviceDefault" >


		<meta-data
			android:name="com.google.android.gms.version"
			android:value="@integer/google_play_services_version"
			/>



        <activity
            android:name=".TopActivity"
			android:launchMode="singleTop"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


	<!--
		<service android:name=".PlayerService"></service>
	-->
		<service android:name=".PlayerService2"></service>

		<service
			android:name=".FileListenerService"
			>
            <intent-filter>
                <action android:name="com.google.android.gms.wearable.BIND_LISTENER" />
            </intent-filter>
		</service>

    </application>


    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />  
</manifest>
